@font-face {
    font-family: 'Victor Mono Oblique';
    src: url('VictorMono-BoldOblique.eot');
    src: url('VictorMono-BoldOblique.eot?#iefix') format('embedded-opentype'),
        url('VictorMono-BoldOblique.woff2') format('woff2'),
        url('VictorMono-BoldOblique.woff') format('woff'),
        url('VictorMono-BoldOblique.ttf') format('truetype'),
        url('VictorMono-BoldOblique.svg#VictorMono-BoldOblique') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Victor Mono';
    src: url('VictorMono-SemiBoldItalic.eot');
    src: url('VictorMono-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('VictorMono-SemiBoldItalic.woff2') format('woff2'),
        url('VictorMono-SemiBoldItalic.woff') format('woff'),
        url('VictorMono-SemiBoldItalic.ttf') format('truetype'),
        url('VictorMono-SemiBoldItalic.svg#VictorMono-SemiBoldItalic') format('svg');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Victor Mono';
    src: url('VictorMono-Thin.eot');
    src: url('VictorMono-Thin.eot?#iefix') format('embedded-opentype'),
        url('VictorMono-Thin.woff2') format('woff2'),
        url('VictorMono-Thin.woff') format('woff'),
        url('VictorMono-Thin.ttf') format('truetype'),
        url('VictorMono-Thin.svg#VictorMono-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Victor Mono';
    src: url('VictorMono-Light.eot');
    src: url('VictorMono-Light.eot?#iefix') format('embedded-opentype'),
        url('VictorMono-Light.woff2') format('woff2'),
        url('VictorMono-Light.woff') format('woff'),
        url('VictorMono-Light.ttf') format('truetype'),
        url('VictorMono-Light.svg#VictorMono-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Victor Mono';
    src: url('VictorMono-Regular.eot');
    src: url('VictorMono-Regular.eot?#iefix') format('embedded-opentype'),
        url('VictorMono-Regular.woff2') format('woff2'),
        url('VictorMono-Regular.woff') format('woff'),
        url('VictorMono-Regular.ttf') format('truetype'),
        url('VictorMono-Regular.svg#VictorMono-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Victor Mono';
    src: url('VictorMono-Italic.eot');
    src: url('VictorMono-Italic.eot?#iefix') format('embedded-opentype'),
        url('VictorMono-Italic.woff2') format('woff2'),
        url('VictorMono-Italic.woff') format('woff'),
        url('VictorMono-Italic.ttf') format('truetype'),
        url('VictorMono-Italic.svg#VictorMono-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Victor Mono';
    src: url('VictorMono-ExtraLight.eot');
    src: url('VictorMono-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('VictorMono-ExtraLight.woff2') format('woff2'),
        url('VictorMono-ExtraLight.woff') format('woff'),
        url('VictorMono-ExtraLight.ttf') format('truetype'),
        url('VictorMono-ExtraLight.svg#VictorMono-ExtraLight') format('svg');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Victor Mono';
    src: url('VictorMono-SemiBold.eot');
    src: url('VictorMono-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('VictorMono-SemiBold.woff2') format('woff2'),
        url('VictorMono-SemiBold.woff') format('woff'),
        url('VictorMono-SemiBold.ttf') format('truetype'),
        url('VictorMono-SemiBold.svg#VictorMono-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Victor Mono';
    src: url('VictorMono-ExtraLightOblique.eot');
    src: url('VictorMono-ExtraLightOblique.eot?#iefix') format('embedded-opentype'),
        url('VictorMono-ExtraLightOblique.woff2') format('woff2'),
        url('VictorMono-ExtraLightOblique.woff') format('woff'),
        url('VictorMono-ExtraLightOblique.ttf') format('truetype'),
        url('VictorMono-ExtraLightOblique.svg#VictorMono-ExtraLightOblique') format('svg');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Victor Mono';
    src: url('VictorMono-Medium.eot');
    src: url('VictorMono-Medium.eot?#iefix') format('embedded-opentype'),
        url('VictorMono-Medium.woff2') format('woff2'),
        url('VictorMono-Medium.woff') format('woff'),
        url('VictorMono-Medium.ttf') format('truetype'),
        url('VictorMono-Medium.svg#VictorMono-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Victor Mono';
    src: url('VictorMono-LightItalic.eot');
    src: url('VictorMono-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('VictorMono-LightItalic.woff2') format('woff2'),
        url('VictorMono-LightItalic.woff') format('woff'),
        url('VictorMono-LightItalic.ttf') format('truetype'),
        url('VictorMono-LightItalic.svg#VictorMono-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Victor Mono';
    src: url('VictorMono-ThinItalic.eot');
    src: url('VictorMono-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('VictorMono-ThinItalic.woff2') format('woff2'),
        url('VictorMono-ThinItalic.woff') format('woff'),
        url('VictorMono-ThinItalic.ttf') format('truetype'),
        url('VictorMono-ThinItalic.svg#VictorMono-ThinItalic') format('svg');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Victor Mono';
    src: url('VictorMono-BoldItalic.eot');
    src: url('VictorMono-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('VictorMono-BoldItalic.woff2') format('woff2'),
        url('VictorMono-BoldItalic.woff') format('woff'),
        url('VictorMono-BoldItalic.ttf') format('truetype'),
        url('VictorMono-BoldItalic.svg#VictorMono-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Victor Mono';
    src: url('VictorMono-ExtraLightItalic.eot');
    src: url('VictorMono-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('VictorMono-ExtraLightItalic.woff2') format('woff2'),
        url('VictorMono-ExtraLightItalic.woff') format('woff'),
        url('VictorMono-ExtraLightItalic.ttf') format('truetype'),
        url('VictorMono-ExtraLightItalic.svg#VictorMono-ExtraLightItalic') format('svg');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Victor Mono';
    src: url('VictorMono-SemiBoldOblique.eot');
    src: url('VictorMono-SemiBoldOblique.eot?#iefix') format('embedded-opentype'),
        url('VictorMono-SemiBoldOblique.woff2') format('woff2'),
        url('VictorMono-SemiBoldOblique.woff') format('woff'),
        url('VictorMono-SemiBoldOblique.ttf') format('truetype'),
        url('VictorMono-SemiBoldOblique.svg#VictorMono-SemiBoldOblique') format('svg');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Victor Mono';
    src: url('VictorMono-MediumItalic.eot');
    src: url('VictorMono-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('VictorMono-MediumItalic.woff2') format('woff2'),
        url('VictorMono-MediumItalic.woff') format('woff'),
        url('VictorMono-MediumItalic.ttf') format('truetype'),
        url('VictorMono-MediumItalic.svg#VictorMono-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Victor Mono';
    src: url('VictorMono-MediumOblique.eot');
    src: url('VictorMono-MediumOblique.eot?#iefix') format('embedded-opentype'),
        url('VictorMono-MediumOblique.woff2') format('woff2'),
        url('VictorMono-MediumOblique.woff') format('woff'),
        url('VictorMono-MediumOblique.ttf') format('truetype'),
        url('VictorMono-MediumOblique.svg#VictorMono-MediumOblique') format('svg');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Victor Mono';
    src: url('VictorMono-LightOblique.eot');
    src: url('VictorMono-LightOblique.eot?#iefix') format('embedded-opentype'),
        url('VictorMono-LightOblique.woff2') format('woff2'),
        url('VictorMono-LightOblique.woff') format('woff'),
        url('VictorMono-LightOblique.ttf') format('truetype'),
        url('VictorMono-LightOblique.svg#VictorMono-LightOblique') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Victor Mono Oblique';
    src: url('VictorMono-Oblique.eot');
    src: url('VictorMono-Oblique.eot?#iefix') format('embedded-opentype'),
        url('VictorMono-Oblique.woff2') format('woff2'),
        url('VictorMono-Oblique.woff') format('woff'),
        url('VictorMono-Oblique.ttf') format('truetype'),
        url('VictorMono-Oblique.svg#VictorMono-Oblique') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Victor Mono';
    src: url('VictorMono-Bold.eot');
    src: url('VictorMono-Bold.eot?#iefix') format('embedded-opentype'),
        url('VictorMono-Bold.woff2') format('woff2'),
        url('VictorMono-Bold.woff') format('woff'),
        url('VictorMono-Bold.ttf') format('truetype'),
        url('VictorMono-Bold.svg#VictorMono-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Victor Mono';
    src: url('VictorMono-ThinOblique.eot');
    src: url('VictorMono-ThinOblique.eot?#iefix') format('embedded-opentype'),
        url('VictorMono-ThinOblique.woff2') format('woff2'),
        url('VictorMono-ThinOblique.woff') format('woff'),
        url('VictorMono-ThinOblique.ttf') format('truetype'),
        url('VictorMono-ThinOblique.svg#VictorMono-ThinOblique') format('svg');
    font-weight: 100;
    font-style: italic;
}

